.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.content {
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 10px;
}

#keys {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.check-labels {
  margin-left: 8px;
}

.goal-ic {
  color: red;
}

.goal-c {
  color: green;
}